1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [1]:
a=15
b=4
print("Sum is : ", a+b)
print("Difference is : ", a-b)
print("Multiplication is : ", a*b)
print("Division is : ", a/b)
print("Floor Division is : ", a//b)
print("Modulus is : ", a%b)

Sum is :  19
Difference is :  11
Multiplication is :  60
Division is :  3.75
Floor Division is :  3
Modulus is :  3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [3]:
num1=10
num2=5.6
num3=4.43
num1=float(num1)
num2=int(num2)
num3=str(num3)

print("Conversion from integer to float is : ",num1)
print("Conversion from float to integer is : ",num2)
print("Conversion from flaot to string is : ",num3)

Conversion from integer to float is :  10.0
Conversion from float to integer is :  5
Conversion from flaot to string is :  4.43

str

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [4]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
print("The first fruit is : ",fruits[0])
print("The first fruit is : ",fruits[-1])
print("The first fruit is : ",fruits[3])

The first fruit is :  apple
The first fruit is :  orange
The first fruit is :  coconut

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [14]:
numbers = [10, 20, 30, 40, 50]
print("The first three elements are: ",numbers[0:3])
print("The Last two elements are: ",numbers[-2:])
print("All elements except the first one are: ",numbers[1:])
print("All elements except the last one are: ",numbers[:-1])
print("Revesed list : ",numbers[::-1])
print("Every Second element by applying step 2 : ",numbers[::2])

The first three elements are:  [10, 20, 30]
The Last two elements are:  [40, 50]
All elements except the first one are:  [20, 30, 40, 50]
All elements except the last one are:  [10, 20, 30, 40]
Revesed list :  [50, 40, 30, 20, 10]
Every Second element by applying step 2 :  [10, 30, 50]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [6]:
nums=[1,2,3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [8]:
nums = [1, 2, 3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [10]:
nums = [1, 2, 3]
other_list=[4,5]
nums.extend(other_list)
print(nums)

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [11]:
nums = [4, 1, 3, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [13]:
order = ["burger", "fries", "coke"]
order.append("ice cream")
# biryani is not in the list shows eroor
#order.remove("biryani")
print(order)

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [17]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers.insert(1,"Sara")
passengers.remove("Zara")
passengers.reverse()
print(passengers)

['Ahmed', 'Sara', 'Ali']